/* ===========GLOBAL VARIABLES AND MAIN SECTION============== */

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:rgb(199, 199, 199);
}

main { 
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 0.1em rgba(160, 160, 160, 0.9);
    border-radius: 0.5em;
    height: 95vh;
    margin: 1em 4em;
    border: 0.1em solid rgb(187, 187, 187);
}

main > h1 {
    padding: 0.5em 0 1em 1em;
    color: rgb(65, 65, 65);
}

strong {
    font-weight: 500;
}

.content {
    display: flex;
}

/* ===========SIDEBAR============== */

.sidebar {
    width: 18%;
    padding: 0;
    margin: 0 2em 0 3em;
}

.sidebar li {
    font-weight: 300;
    color: rgb(94, 94, 94);
    list-style-type: none;
    padding: 1.5em 5em 1.5em 1.5em;
    margin: 0;
}

.sidebar li:hover {
    background-color: rgba(156, 199, 255, 0.5);
    border-radius: 0.5em;
}

/* ===========PRODUCT SECTION============== */

.products {
    display: flex;
    gap: 1em;
}

.product-card {
    border: 0.1em solid rgba(199, 199, 199, 0.5);
    border-radius: 0.5em;
    min-height: 35em;
    max-width: 20em;
}

.image-container {
    min-height: 14em;
    max-width: 100%;
    padding: 1.5em 1em;
}

img {
    object-fit: cover;
}

.container {
    padding: 0.2em 1em;
}

.product-name {
    font-weight: bold;
    color: rgb(65, 65, 65);
    padding: 0.8em 1em;
}

.product-price {
    background-color: rgba(199, 199, 199, 0.6);
    border-radius: 0.5em;
    margin-top: 1em;
}

.product-price p {
    margin: 0 0.7em;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.7em 0.3em;
    color: rgb(48, 48, 48);
}

.cargo {
    margin: 1em 0 0 0.5em;
    color: rgb(90, 90, 90);
    font-weight: 600;
}

.buy-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buy-button {
    padding: 0.5em 2em;
    margin-bottom: 1em;
    background-color:rgb(56, 66, 209);
    color: rgb(206, 206, 206);
    font-weight: 500;
    font-size: 1.3em;
    border-style: none;
    border: none;
    border-radius: 0.5em;
}

.buy-button:hover {
    background-color: rgb(41, 52, 209);
}

/* ===================RESPONSIVE DESIGN==================== */

@media screen and (max-width: 960px) {
    .content {
        display: block;
    }
    .sidebar {
        width: 100%;
        margin: 0 0 2em 2em;
    }
    .sidebar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .sidebar li{
        display: inline;
        padding: 0.2em 0.2em 0.2em 0.2em;
        margin-right: 1.5em;
    }
    .products {
        margin: 0 2em;
    }

}