/* ===========GLOBAL VARIABLES - Fonts, Colors etc non-responsive variables============== */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: auto;
    background-color:rgb(233, 233, 233);
}

/* ===========HOVER STATES============= */

.product-name p, img,.category-item,.buy-button:hover {
    cursor: pointer;
}

@media screen and (min-width: 850px) {
    .category-item:hover {
        background-color: rgba(211, 230, 255, 0.692);
        border-radius: 0.3em;
        cursor: pointer;
    }
}

.buy-button:hover {
    background-color: rgb(41, 52, 209);
}

/* ===========MAIN============== */

main {
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    border: 0.1em solid rgb(187, 187, 187);
    box-shadow: -0.1vw 0.25vh rgba(201, 201, 201, 0.9);
}

main > h1 {
    color: rgb(83, 83, 83);
}

strong {
    font-weight: 600;
}

/* ===========SIDEBAR============== */

.category-item {
    font-weight: 400;
    color: rgb(94, 94, 94);
}

/* ===========PRODUCT SECTION============== */

.product-card {
    border: 0.1em solid rgba(199, 199, 199, 0.5);
    border-radius: 0.5em;
}

img {
    border-radius: 0.3em;
    object-fit: contain;
}

.product-name {
    font-weight: bold;
    color: rgb(65, 65, 65);
}

.product-price {
    background-color: rgb(233, 233, 233);
    border-radius: 0.5em;
}

.product-price p {
    font-weight: bold;
    color: rgb(48, 48, 48);
}

.cargo {
    color: rgb(90, 90, 90);
    font-weight: 600;
}

.buy-button {
    background-color:rgb(59, 72, 255);
    color: rgb(233, 233, 233);
    font-weight: 500;
    border-style: none;
    border: none;
    border-radius: 0.5em;
}



/* =======================Units (Responsive Variables)========================= */

.overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* ===========MAIN============== */

main {
    min-height: 95vh;
    margin: 1em 3em 1em 3em;
}

main > h1 {
    padding: 2vh 0 2vh 3vw;
}


/* ===========SIDEBAR============== */

#categories {
    box-sizing: border-box;
    float: left;
    width: 20em;
    padding: 0;
    margin: 0 2em 0 2em;
}

.category-item {
    display: block;
    font-size: 19px;
    margin: 0;
    padding: 1.2em 0 1.2em 0.5em;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/* ===========CAROUSEL SECTION============== */

#carousel-section {
    box-sizing: border-box;
    width: calc(100% - 24em);
    float: right;
}
.main-carousel {
    display: flex;
    overflow: auto;
}

#products {
    margin: 0 2vw 3vh 0;
}

.product-card {
    max-width: 19em;
    margin-right: 1.5em;
    margin-bottom: 1em;
}

.image-container {
    text-align: center;
    margin: 0.2em;
}

img {
    width: 10em;
    height: 10em;
}

.container {
    padding: 0 1vw;
}

.product-name {
    margin: 2.5vh 0.5vw;
}

.product-name p {
    font-size: 18px;
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-price {
    width: 100%;
    margin: 1vh 0;
}

.product-price p {
    font-size: 26px;
    margin: 0;
    padding: 0.5em 0 0.5em 0.5em;
}

.cargo {
    padding: 0;
    margin: 3px 0;
}
.cargo p {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.empty-box {
    box-sizing: border-box;
    min-height: 17px;
}

.buy-container {
    display: flex;
    justify-content: center;
}

.buy-button {
    font-size: 18px;
    width: 70%;
    padding: 1.5vh 0;
    margin: 1.5vh 0vw ;
}

/* ===================RESPONSIVE DESIGN==================== */

 @media screen and (max-width: 850px),
       screen and (max-height: 600px) {

    main {
        overflow: hidden;
    }
    main > h1 {
        font-size: 20px;
        padding: 3vh 0 0 7vw;
    }
    #categories {
        width: 90vw;
        margin: 2vh 2vw;
        overflow: auto;
        white-space: nowrap;
    }
    .category-item{
        display: inline-block;
        width: fit-content;
        max-width: 200px;
        padding: 0.5vh 0.5vw;
        margin: 3vh 1.5vw;
    }
    #carousel-section {
        width: 95%;
    }
    #products {
        margin: 0;
        padding: 0;
    }
    .product-card {
        max-width: 14em;
        /* min-width: 10em;  */
        margin-right: 1vw;
    }
    .image-container {
        margin: 1vh 1.5vw;
    }
    img {
        width: 100%;
    }
    /* .image-placeholder {
        min-height: calc(100vh / 100vw);
    } */
    .product-name {
        padding: 0;
        margin: 3vh 2vw;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .product-name p {
        font-size: 14px;
        margin: 0;
    }
    .product-price {
        background-color: rgb(240, 240, 240);
        width: 100%;
    }
    .product-price p {
        font-size: 19px;
        margin: 0;
        padding: 1vh 0 1vh 1vw;
    }
    .cargo {
        padding: 0;
        margin: 1.5vh 2vw;
    }
    .cargo p {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }
    .buy-button {
        padding: 1.5vh 0.2vw;
        margin: 2vh 0;
        font-size: 16px;
        width: 80%;
    }
}

@media screen and (max-width: 600px),
       screen and (max-height: 600px) {
    main {
        overflow: hidden;
    }
    main > h1 {
        font-size: 20px;
        padding: 3vh 0 0 7vw;
    }
    .categories {
        width: 90%;
        margin: 2em 2em;
        overflow: auto;
        white-space: nowrap;
    }
    .category-item{
        font-size: 13px;
        display: inline-block;
        padding: 0.2em 0.2em 1em 0.2em;
        margin: 0.2em 0.5em;
        width: fit-content;
        max-width: 100px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    #carousel-section {
        width: 95%;
    }
    .container {
        padding: 0 1vw;
    }
    #products {
        margin: 0;
        padding: 0;
    }
    .product-card {
        max-width: 120px;
        margin-right: 1vw;
    }
    .image-container {
        margin: 1vh 1.5vw;
    }
    .image-placeholder {
        min-height: 140px;
    }
    .product-name {
        padding: 0;
        margin: 1.5vh 1.5vw;
    }
    .product-name p {
        white-space: wrap;
        font-size: 11px;
        margin: 0;
    }
    .product-price {
        margin: 1vh 0.5w;
    }
    .product-price p {
        font-size: 12px;
        margin: 0;
        padding: 1vh 0 1vh 1.5vw;
    }
    .cargo {
        padding: 0;
        margin: 0.5em 0 0.2em 0;
    }
    .cargo p {
        font-size: 8px;
        margin: 0;
        padding: 0;
    }
    .buy-button {
        padding: 0.7em 0;
        margin: 0.7em 0;
        font-size: 11px;
        width: 80%;
    }
}
