/* ===========GLOBAL VARIABLES - Fonts, Colors etc non-responsive variables============== */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:rgb(233, 233, 233);
}

/* ===========MAIN============== */

main { 
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 0.5em;
    border: 0.1em solid rgb(187, 187, 187);
    box-shadow: -0.1vw 0.25vh rgba(201, 201, 201, 0.9);
}

main > h1 {
    color: rgb(83, 83, 83);
}

strong {
    font-weight: 600;
}

/* ===========SIDEBAR============== */

.sidebar li {
    font-weight: 300;
    color: rgb(94, 94, 94);
    list-style-type: none;
}

.sidebar li:hover {
    background-color: rgba(156, 199, 255, 0.5);
    border-radius: 0.3em;
    cursor: pointer;
}

/* ===========PRODUCT SECTION============== */

.product-card {
    border: 0.1em solid rgba(199, 199, 199, 0.5);
    border-radius: 0.5em;
}

.image-container {
    background-color: grey;
    border-radius: 0.3em;
}

img {
    object-fit: cover;
}

.product-name {
    font-weight: bold;
    font-size: 14px;
    color: rgb(65, 65, 65);
}

.product-price {
    background-color: rgb(233, 233, 233);
    border-radius: 0.5em;
}

.product-price p {
    font-size: 1.7em;
    font-weight: bold;
    color: rgb(48, 48, 48);
}

.cargo {
    color: rgb(90, 90, 90);
    font-weight: 600;
}

.buy-button {
    background-color:rgb(56, 66, 209);
    color: rgb(233, 233, 233);
    font-weight: 500;
    font-size: 1.3em;
    border-style: none;
    border: none;
    border-radius: 0.5em;
}

.buy-button:hover {
    background-color: rgb(41, 52, 209);
    cursor: pointer;
}

/* =======================Units (Responsive Variables)========================= */

/* ===========MAIN============== */

main { 
    height: 95vh;
    margin: 2vh 4vw;
}

main > h1 {
    padding: 2vh 0 2vh 3vw;
}

.content {
    display: flex;
}

/* ===========SIDEBAR============== */

.sidebar {
    box-sizing: border-box;
    max-width: 40vw;
    padding: 0;
    margin: 0 2vh 0 1.5vw;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 2vh 8vw 2vh 1.5vw;
    margin: 0;
}

/* ===========PRODUCT SECTION============== */

.products {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
}

.product-card {
    min-height: 40vh;
    max-width: 15vw;
    min-width: 10vw;
}

.image-container {
    min-height: 20vh;
    margin: 0.7em 0.7em;
}

.container {
    padding: 0 1em;
}

.product-name {
    padding: 1em 1em;
}

.product-name p {
    margin: 0;
}

.product-price {
    margin-top: 1em;
}

.product-price p {
    margin: 0 0.5em;
    padding: 0.5em 0.1em;
}

.cargo {
    margin: 1em 0;
}

.buy-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buy-button {
    padding: 0.5em 2em;
    margin-bottom: 1em;
}

/* ===================RESPONSIVE DESIGN==================== */

@media screen and (max-width: 960px) {

    p {
        font-size: 13px;
    }
    .content {
        flex-direction: column;
    }
    .sidebar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 100%;
        margin: 2vh 2vw;
    }
    .sidebar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .sidebar li{
        display: inline;
        padding: 0.2em 0.2em 0.2em 0.2em;
        margin-right: 1.5em;
    }
    .products {
        margin: 0 2em;
    }
    .product-card {
        min-height: 30vh;
        max-width: 50vw;
    }
    .image-container {
        min-height: 6vh;
    }    

}

@media screen and (max-height: 600px) {
    .content {
        display: block;
    }
    .sidebar {
        width: 100%;
        margin: 0 0 2em 2em;
    }
    .sidebar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .sidebar li{
        display: inline;
        padding: 0.2em 0.2em 0.2em 0.2em;
        margin-right: 1.5em;
    }
    .products {
        margin: 0 2em;
    }

}