/* ===========GLOBAL VARIABLES - Fonts, Colors etc non-responsive variables============== */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
    background-color:rgb(233, 233, 233);
}

/* ===========HOVER STATES============= */

.product-name p, img,.category-item,.buy-button:hover {
    cursor: pointer;
}


.category-item:hover {
    text-decoration: underline;
    text-decoration-color: rgb(187, 187, 187);
    cursor: pointer;
}


.buy-button:hover {
    background-color: rgb(41, 52, 209);
}

/* ===========MAIN============== */

main {
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    border: 0.1em solid rgb(187, 187, 187);
    box-shadow: -0.1vw 0.25vh rgba(201, 201, 201, 0.9);
}

main > h1 {
    color: rgb(83, 83, 83);
}

strong {
    font-weight: 600;
}

/* ===========SIDEBAR============== */

.category-item {
    font-weight: 400;
    color: rgb(94, 94, 94);
}

@media screen and (min-width: 850px),
    screen and (min-height: 600px) {
    .category-item-active {
        border-left: 6px solid #4070f4;
        border-radius: 9px;
        background-color: rgba(211, 230, 255, 0.692);
        color: rgb(58, 58, 58);
    }
}
@media screen and (max-width: 850px),
    screen and (max-height: 600px) {
    .category-item-active {
        border-left: none;
        border-bottom: 6px solid #4070f4;
        background-color: white;
        border-radius: 9px;
        color: rgb(58, 58, 58);
    }
}

/* ===========PRODUCT SECTION============== */

.product-card {
    border: 0.1em solid rgba(199, 199, 199, 0.5);
    border-radius: 0.5em;
}

img {
    border-radius: 0.3em;
    object-fit: contain;
}

.product-name {
    font-weight: bold;
    color: rgb(65, 65, 65);
}

.product-price {
    background-color: rgb(233, 233, 233);
    border-radius: 0.5em;
}

.product-price p {
    font-weight: bold;
    color: rgb(48, 48, 48);
}

.cargo {
    color: rgb(90, 90, 90);
    font-weight: 600;
}

.buy-button {
    background-color:rgb(59, 72, 255);
    color: rgb(233, 233, 233);
    font-weight: 500;
    border-style: none;
    border: none;
    border-radius: 0.5em;
}



/* =======================Units (Responsive Variables)========================= */

.overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* ===========MAIN============== */

main {
    min-height: 95vh;
    margin: 1em 3em 1em 3em;
}

main > h1 {
    padding: 2vh 0 2vh 3vw;
}


/* ===========SIDEBAR============== */

#categories {
    box-sizing: border-box;
    float: left;
    width: 20em;
    padding: 0;
    margin: 0 2em 0 2em;
}

.category-item {
    display: block;
    font-size: 19px;
    margin: 0;
    padding: 1.2em 0 1.2em 0.5em;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* ===========CAROUSEL SECTION============== */

#carousel-section {
    box-sizing: border-box;
    width: calc(100% - 24em);
    float: right;
}
.main-carousel {
    display: flex;
    overflow: auto;
}

#products {
    margin: 0 2vw 3vh 0;
}

.product-card {
    max-width: 19em;
    margin-right: 1.5em;
    margin-bottom: 1em;
}

.image-container {
    text-align: center;
    margin: 0.2em;
}

img {
    width: 10em;
    height: 10em;
}

.container {
    padding: 0 1vw;
}

.product-name {
    margin: 2.5vh 0.5vw;
}

.product-name p {
    font-size: 18px;
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-price {
    width: 100%;
    margin: 1vh 0;
}

.product-price p {
    font-size: 26px;
    margin: 0;
    padding: 0.5em 0 0.5em 0.5em;
}

.cargo {
    padding: 0;
    margin: 3px 0;
}
.cargo p {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.empty-box {
    box-sizing: border-box;
    min-height: 17px;
}

.buy-container {
    display: flex;
    justify-content: center;
}

.buy-button {
    font-size: 18px;
    width: 70%;
    padding: 1.5vh 0;
    margin: 1.5vh 0vw ;
}

/* ===================TOAST NOTIFICATION=================== */

.toast-container {
    position: absolute;
    top: 25px;
    right: 30px;
    overflow: hidden;
}

.toast{
    border-radius: 10px;
    background: #fff;
    padding: 2vh 3vw 2vh 2vw;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #4070f4;
    transform: translateX(calc(100% + 30px)); /* We make it hidden */
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    margin-bottom: 0.7em;
}

.toast.active {
    transform: translateX(0%);
}

.toast .toast-content{
    display: flex;
    align-items: center; 
}

.toast-content .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text{
    font-size: 20px;
    font-weight: 400;;
    color: #666666;
}

.message .text.text-1 {
    font-weight: 600;
    color: #333;
}

.toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .close:hover {
    opacity: 1;
}

/* ===================RESPONSIVE DESIGN==================== */

 @media screen and (max-width: 850px),
       screen and (max-height: 600px) {

    body {
        overflow-y: auto;
    }
    main {
        overflow:hidden;
        margin: 1vh 1vw;
    }
    main > h1 {
        font-size: 20px;
        padding: 3vh 0 0 7vw;
    }
    #categories {
        width: 100vw;
        margin: 4vh 2vw;
        overflow: auto;
        white-space: nowrap;
    }
    .category-item{
        display: inline-block;
        width: fit-content;
        max-width: 200px;
        padding: 0.3em 0.2em 1em 0.2em;
        margin: 0.3em 2em 1em 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    #carousel-section {
        margin: 0 2vw;
        width: 95%;
        float: left;
    }
    #products {
        margin: 0;
        padding: 0;
    }
    .product-card {
        max-width: 14em;
        margin-right: 1vw;
    }
    .image-container {
        margin: 1vh 1.5vw;
    }
    img {
        width: 100%;
    }
    .product-name {
        padding: 0;
        margin: 3vh 2vw;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .product-name p {
        font-size: 14px;
        margin: 0;
    }
    .product-price {
        background-color: rgb(240, 240, 240);
        width: 100%;
    }
    .product-price p {
        font-size: 19px;
        margin: 0;
        padding: 1vh 0 1vh 1vw;
    }
    .cargo {
        padding: 0;
        margin: 1.5vh 2vw;
    }
    .cargo p {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }
    .buy-button {
        padding: 1.5vh 0.2vw;
        margin: 2vh 0;
        font-size: 16px;
        width: 80%;
    }
}

@media screen and (max-width: 600px),
       screen and (max-height: 600px) {
           
    .category-item{
        font-size: 13px;
        padding: 0.3em 0.2em 1em 0.2em;
        margin: 0.3em 2.5em 1em 0;
        max-width: 25vw;
    }
    .container {
        padding: 0 1vw;
    }
    #products {
        margin: 0;
    }
    .product-card {
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
        margin-right: 1.7vw;
        max-width: 140px;
    }
    .product-name {
        margin: 1.5vh 1.5vw;
    }
    .product-name p {
        font-size: 11px;
    }
    .product-price {
        margin: 1vh 0.5w;
    }
    .product-price p {
        font-size: 12px;
        padding: 1vh 0 1vh 1.5vw;
    }
    .cargo {
        margin: 0.5em 0 0.2em 0;
    }
    .cargo p {
        font-size: 8px;
    }
    .buy-button {
        padding: 0.7em 0;
        margin: 0.7em 0;
        font-size: 11px;
    }
}
